/* General page styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFD166; /* Background color */
    color: #A52422; /* Default body text color */
    margin: 0;
    text-align: center; /* Center-align all text */
}

/* Top bar styling */
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFD166;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.avatar {
    border-radius: 50%;
    width: 150px; /* Increase size as desired */
    height: 150px;
    margin-bottom: 1em;
}

.name {
    color: #A52422; /* Sidebar font color */
    font-weight: 300;
    margin: 0.5em 0;
}

nav a {
    color: #FF5733; /* Custom color for links */
    font-weight: 400;
    text-decoration: none;
    margin: 0.5em;
    transition: color 0.3s;
}

nav a.active {
    color: #FF4500; /* Highlight color when active */
}

nav a:hover {
    color: #FF4500;
}

/* Social icons styling */
.social-icons {
    margin-top: 1em;
}

.icon {
    font-size: 1.5em; /* Adjust icon size */
    color: #A52422; /* Icon color */
    margin: 0 0.5em;
    transition: transform 0.2s, color 0.3s;
}

.icon:hover {
    transform: scale(1.2);
    color: #FF4500; /* Change color on hover */
}

/* Section styling */
section {
    padding: 3em 0;
    margin: 0 auto;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    color: #FF5733;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    color: #A52422;
}

/* Body text styling */
p {
    font-weight: 200;
}

.bold-text {
    font-weight: 700; /* Bold weight */
    color: #FF5733;
}