<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}/avatar.jpg" alt="Profile picture of Erika Garza Elorduy" class="profile-pic">
      
      <!-- Site title as your name with link to landing page -->
      <h1>
        <a href="https://e-garzaelorduy.github.io/">
          Erika Garza Elorduy
        </a>
      </h1>
      <!-- Short introduction/description -->
      <p class="lead">Computational Social Science, UC San Diego.</p>
    </div>

    <!-- Custom Sidebar Navigation -->
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl or page.url == site.baseurl | append: "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/about' %} active{% endif %}" href="{{ site.baseurl }}/about">About Me</a>
      <a class="sidebar-nav-item{% if page.url == '/CV' %} active{% endif %}" href="{{ site.baseurl }}/CV">CV</a>
      <a class="sidebar-nav-item{% if page.url == '/projects' %} active{% endif %}" href="{{ site.baseurl }}/projects">Projects</a>
      <a class="sidebar-nav-item{% if page.url == '/organizations' %} active{% endif %}" href="{{ site.baseurl }}/organizations">Organizations</a>
    </nav>

    <!-- Social media icons -->
    <div class="sidebar-social">
      <a href="mailto:erikagarzaelorduy@gmail.com" title="Email">
        <i class="fa fa-envelope"></i> <!-- Email icon -->
      </a>
      <a href="https://www.linkedin.com/in/erika-garza-elorduy/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i> <!-- Updated LinkedIn icon -->
      </a>
      <a href="https://github.com/e-garzaelorduy" target="_blank" title="GitHub">
        <i class="fab fa-github"></i> <!-- Updated GitHub icon -->
      </a>
    </div>

    <!-- Footer note with dynamic year -->
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved. </p>
  </div>
</div>